.heading{
    font-family: 'Raleway', 'sans-serif';
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

.junbotron{
    padding: 50px;
    background: #3e3a3acf;
    text-align: center;
}

button{
    font-size: 1.5rem;
}